<div>
    <div *ngFor="let number of times" id="'time-'+number'">
            <h4>Time {{ number }}</h4>
            <label><input type="checkbox"></label>
            <div>
                <label>
                    Dispense at:
                    <input [owlDateTimeTrigger]="scheduleTime" [owlDateTime]="scheduleTime">
                    <owl-date-time  #scheduleTime [pickerType]="'timer'" stepMinute="15" hour12Timer="true" [startAt]=""></owl-date-time>
                </label>
            </div>
            <div>
                <h5>Size:</h5>
                <div class="proportions grid-container">
                    <div id="0" (click)="setProportions('', '0', 'treat', 'Treat Size S')">Treat</div>
                    <div id="1" (click)="setProportions('', '1', 'treat', 'Treat Size M')">Meal</div>
                </div>
            </div>
        </div>
</div>