@import '../../styles';

* {
    color: $dark; 
    font-size:0.9em;
}

#status-container {
    display: grid;
    grid-template-columns: $main-page-padding repeat(2, 1fr) $main-page-padding;
    background-color: $gray;
    height: 100%;
    align-items: center;
}

#last {
    grid-column-start: 2;
    justify-self: center;

}

#info {
    justify-self: center;    
}