@import '../../styles';

* {
    color: $dark; 
    font-size:0.9em;
}

#status-container {
    display: grid;
    grid-template-columns: $main-page-padding 1fr 1fr $main-page-padding;
    -ms-grid-rows: 1fr;
    background-color: $gray;
    height: $status-bar-height;
    align-items: center;
    box-shadow: $shadow;
}

#last {
    grid-column-start: 2;
    justify-self: center;
    -ms-grid-column-align: center;
    -ms-grid-row-align: center;
}

#info {
    grid-column-start: 3;
    justify-self: center;
    -ms-grid-column-align: center;
    -ms-grid-row-align: center;
}