<div id="contact-container" @staggerItems>
    <div id="github" class="stagger-from-bottom">
        <a href="https://github.com/mdrichardson/treat-dispenser" alt="My Github" target="_blank"><fa-icon class="fa-2x" [icon]="faGithub"></fa-icon></a>
    </div>
    <div id="linkedIn" class="stagger-from-bottom">
        <a href="https://www.linkedin.com/in/richardsonmichaeld/" alt="My LinkedIn" target="_blank"><fa-icon class="fa-2x" [icon]="faLinkedin"></fa-icon></a>
    </div>
    <div id="email" class="stagger-from-bottom">
        <a href="mailto:richardson.michael.d+treat@gmail.com" alt="Email Me"><fa-icon class="far fa-2x" [icon]="faEnvelope"></fa-icon></a>
    </div>
</div>