@import '../../styles';

#menu-container {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: $main-page-padding 225px 1fr $main-page-padding;
    background: $primary;
    width: 100vw;
    height: $menu-height;

    nav {
        grid-column-start: 2;
        list-style-type: none;
        width: 100%;
        margin: auto;

        ul {
            display: flex;
            justify-content: space-between;
            align-content: center;
    
            li {
                display: inline-block;
            }
    
            li a {
                display: block;
                color: $light;
                text-decoration: none;
            }
    
            li a:visited {
                color: $light;
            }
        }
    }

    #title {
        color: $light;
        grid-column-start: 3;
        justify-self: right;
        align-self: center;
        font-size: 1.5em;
        font-weight: bold;
    }
    
}