@import '../../styles';

#menu-container {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: $main-page-padding 600px 1fr $main-page-padding;
    background: $primary;
    width: 100vw;
    height: $menu-height;

    ul {
        grid-column-start: 2;
        list-style-type: none;
        overflow: hidden;
        text-align: center;

        li {
            display: inline;
            margin: auto;
            padding: auto;

            a {
                display: inline-block;
                color: $light;
                text-decoration: none;
                vertical-align: middle;
                text-align: center;
                margin: auto;
                padding: auto;

                &:visited {
                    color: $light;
                }
            }
        }
    }

    #title {
        color: $light;
        grid-column-start: 3;
        justify-self: right;
        align-self: center;
        font-size: 1.5em;
        font-weight: bold;
    }
    
}

.activated {
    background: $gray;
}