<div id="menu-container">
    <nav>
        <ul>
            <li>
                <a routerLink=""><i class="material-icons only-mobile">home</i><span class="hide-mobile">Home</span></a>
            </li>
            <li>
                <a routerLink="settings"><i class="material-icons only-mobile">settings</i><span class="hide-mobile">Settings</span></a>
            </li>
            <li>
                <a routerLink="debug"><i class="material-icons only-mobile">bug_report</i><span class="hide-mobile">Debug</span></a>
            </li>
        </ul>
    </nav>
    <p id="title">Treat Dispenser</p>
</div>
