@import '../styles';

#main-container {
    display: grid;
    grid-template-rows: $menu-height 15px 1fr;
    grid-template-columns: 1fr;
}

app-menu {
    grid-column-start: 2;
}

app-status-bar {
    grid-column-start: 2;
}

#content {
    grid-column-start: 2;
    @extend .center;
    display: grid;
    grid-template-columns: $main-page-padding 1fr $main-page-padding;
}