<div class="grid-container">
    <label><input type="checkbox" [checked]="schedule.on" (change)="schedule.on = !schedule.on" (click)="setSchedule('on', 'schedule', 'Turning Schedule ')"></label>
    <div>
        <h2>Scheduled Meal Dispensing</h2>
        <h3>Dispense Meals On:</h3>
        <div id="days">
            <div>
                <div><input type="checkbox" [checked]="schedule.days.sun" (change)="schedule.days.sun = !schedule.days.sun" (click)="setSchedule('on', 'sun', 'Turning Sunday ')"><label for="schedSun">Sunday</label></div>
                <div><input type="checkbox" [checked]="schedule.days.mon" (change)="schedule.days.mon = !schedule.days.mon" (click)="setSchedule('on', 'mon', 'Turning Monday ')"><label for="schedMon">Monday</label></div>
                <div><input type="checkbox" [checked]="schedule.days.tue" (change)="schedule.days.tue = !schedule.days.tue" (click)="setSchedule('on', 'tue', 'Turning Tuesday ')"><label for="schedTue">Tuesday</label></div>
                <div><input type="checkbox" [checked]="schedule.days.wed" (change)="schedule.days.wed = !schedule.days.wed" (click)="setSchedule('on', 'wed', 'Turning Wednesday ')"><label for="schedWed">Wednesday</label></div>
            </div>
            <div>
                <div><input type="checkbox" [checked]="schedule.days.thu" (change)="schedule.days.thu = !schedule.days.thu" (click)="setSchedule('on', 'thu', 'Turning Thursday ')"><label for="schedThu">Thursday</label></div>
                <div><input type="checkbox" [checked]="schedule.days.fri" (change)="schedule.days.fri = !schedule.days.fri" (click)="setSchedule('on', 'fri', 'Turning Friday ')"><label for="schedFri">Friday</label></div>
                <div><input type="checkbox" [checked]="schedule.days.sat" (change)="schedule.days.sat = !schedule.days.sat" (click)="setSchedule('on', 'sat', 'Turning Saturday ')"><label for="schedSat">Saturday</label></div>
            </div>
        </div>
        <h3>Dispense At:</h3>
        <div>
            <div *ngFor="let timeObj of schedule.times; let i = index"> <!--We have to use ['t'+(i+1)] to convert from index to t* in the interface-->
                    <h4>Time {{ i + 1 }}</h4>
                    <label><input type="checkbox" [checked]="timeObj['t'+(i+1)].on" (change)="timeObj['t'+(i+1)].on = !timeObj['t'+(i+1)].on" (click)="setSchedule('on', 't'+(i+1), 'Turning Time ')"></label>
                    <div>
                        <label>
                            Dispense at:
                            <input [owlDateTimeTrigger]="scheduleTime" [owlDateTime]="scheduleTime" [(ngModel)]="timeObj['t'+(i+1)].time" (dateTimeChange)="setSchedule('t'+(i+1), '', 'Schedule Time '+(i+1)+': ')">
                            <owl-date-time  #scheduleTime [pickerType]="'timer'" stepMinute="15" hour12Timer="true" [startAt]="timeObj['t'+(i+1)].time"></owl-date-time>
                        </label>
                    </div>
                    <div>
                        <h5>Size:</h5>
                        <div class="proportions grid-container">
                            <div #proportion id="i'-0'" (click)="setSchedule('t'+(i+1), '0', 'Time '+(i+1)+' Size: Treat')">Treat</div>
                            <div #proportion id="i'-1'" (click)="setSchedule('t'+(i+1), '1', 'Time '+(i+1)+' Size: Meal')">Meal</div>
                        </div>
                    </div>
                </div>
        </div>
    </div>
</div>