@import '../settings/settings.component';

.active {
    @extend .active;
}

.proportions {
    @extend .proportions;
}

#schedule-container {
    margin: 20px 0px;
    display: grid;
    grid-template-columns: 100px 1fr;
    -ms-grid-rows: 1fr;

    // Fix for IE
    > :nth-child(1) {
        -ms-grid-column: 1;
    }
    > :nth-child(2) {
        -ms-grid-column: 2;
    }

    #days-container {
        display: grid;
        grid-template-columns: 200px 200px;
        -ms-grid-rows: 1fr;
        margin-bottom: 20px;
        
        // Fix for IE
        > :nth-child(1) {
            -ms-grid-column: 1;
        }
        > :nth-child(2) {
            -ms-grid-column: 2;
        }

        input {
            margin: 5px 0px;
        }
    }

    #times-container {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;

        >* {
            flex: 1 1 200px;
        }

        .time {
            display: grid;
            grid-template-columns: 35px auto;
            -ms-grid-rows: 1fr;
            margin: 20px 0px;
            justify-content: start;

            // Fix for IE
            > :nth-child(1) {
                -ms-grid-column: 1;
            }
            > :nth-child(2) {
                -ms-grid-column: 2;
            }

            div {
                margin-bottom: 10px;
            }
        }

        input {
            width: 75px;
            text-align: center;
        }

        .time-proportions {
            display: grid;
            grid-template-columns: 50px 50px;
            -ms-grid-rows: 1fr;
            margin: 0px 10px;

            // Fix for IE
            > :nth-child(1) {
                -ms-grid-column: 1;
            }
            > :nth-child(2) {
                -ms-grid-column: 2;
            }
        }
    }
}

.schedule-warn {
    color:$warn;
    font-weight: bold;
}