@import "../node_modules/angular-notifier/styles.scss";

$mobile: 768px;
$menu-height: 40px75px;

body {
    margin: 0;
    background: #F2F2F2;
    height: 100vh;
}

.grid-container {
    display: grid;
}

.center {
    margin: auto;
    width: 50%;
    padding: 10px;
}

@media only screen and (max-width: $mobile) {
    .hide-mobile {
        display: none;
    }
}

@media only screen and (min-width: $mobile) {
    .only-mobile {
        display: none;
    }
}