@import "../node_modules/angular-notifier/styles.scss";
@import "~ng-pick-datetime/assets/style/picker.min.css";

$mobile: 768px;
$menu-height: 50px;
$status-bar-height: 20px;
$main-page-padding: 5%;

* {
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    background: #F2F2F2;
    height: 100vh;
}

.center {
    display: flex;
    justify-items: center;
    align-items: center;
}

@media only screen and (max-width: #{$mobile - 1px}) { // Don't disappear at $mobile
    .hide-mobile {
        display: none;
    }
}

@media only screen and (min-width: $mobile) {
    .only-mobile {
        display: none;
    }
}