@import '../../styles';

img {
    max-height: 65vh;
    box-shadow: shadow;
}

#demo-message {
    color: $warn;
    margin-top: 10px;
    text-align: center;
}

@media all and (max-width: #{$mobile - 1px}) {  // Mobile
    #button-container {
        margin-top: 40%;
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        align-self: stretch;
        height: 25vh;

        button {
            width: 100%;
            margin-top: 30px;
        }
    
    }
}

@media all and (min-width: $mobile) {
    #button-container {
        margin-top: 20px;
        display: grid;
        grid-template-columns: 1fr 1fr;
        align-self: stretch;
        height: 10vh;
        
        button {
            height: 10vh;
        }

        .primary {
            grid-column-start: 1;
        }
        
        .gray {
            grid-column-start: 2;
        }
    }
}