
<div id="settings-container" @staggerItems>
    <div id="proportions-big-container" class="stagger-from-top">
        <div>
            <h2>Proportions</h2>
        </div>
        <div id="proportions-container">
            <div id="treat-container">
                <h3>Treat Size</h3>
                <div class="proportions">
                    <div id="0" (click)="setProportions('treat', '0', 'Treat Size S')" [ngClass]="{'active': treatSize == '0'}">S</div>
                    <div id="1" (click)="setProportions('treat', '1', 'Treat Size M')" [ngClass]="{'active': treatSize == '1'}">M</div>
                    <div id="2" (click)="setProportions('treat', '2', 'Treat Size L')" [ngClass]="{'active': treatSize == '2'}">L</div>
                </div>
            </div>
            <div id="meal-container">
                <h3>Meal Size</h3>
                <div class="proportions">
                    <div id="0" (click)="setProportions('meal', '0', 'Meal Size S')" [ngClass]="{'active': mealSize == '0'}">S</div>
                    <div id="1" (click)="setProportions('meal', '1', 'Meal Size M')" [ngClass]="{'active': mealSize == '1'}">M</div>
                    <div id="2" (click)="setProportions('meal', '2', 'Meal Size L')" [ngClass]="{'active': mealSize == '2'}">L</div>
                </div>
            </div>
        </div>
    </div>
    <div id="intervals-container" class="stagger-from-bottom">
        <div class="toggle-container">
            <label class="switch"><input type="checkbox" [checked]="intervals.on" (change)="intervals.on = !intervals.on" (click)="setIntervals('on', 'intervals', 'Interval ')"><span class="slider"></span></label>
        </div>
        <div id="intervals-content">
            <h2>Intervals</h2>
            <br />
            <div id="intervals">
                <div id="radio-container">
                    <div>
                        <input type="radio" id="0" [checked]="!intervals.SEon" (change)="intervals.SEon = !intervals.SEon" (click)="setIntervals('SEon', '0', 'Continuous Interval')"><label>   Run Continuously</label>
                    </div>
                    <div>
                        <input type="radio" id="1" [checked]="intervals.SEon" (change)="intervals.SEon = !intervals.SEon" (click)="setIntervals('SEon', '1', 'Scheduled Interval')"><label>   Run Only Within Time Period</label>
                    </div>
                </div>
                <div *ngIf="intervals.SEon" id="SE-times">
                    <div id="start-time">
                        <p>Start Time</p>
                        <label>
                            <input [owlDateTimeTrigger]="intervalStartInput" [owlDateTime]="intervalStartInput" [(ngModel)]="intervals.start" (dateTimeChange)="setIntervals('start', '', 'Interval Start')">
                            <owl-date-time #intervalStartInput [pickerType]="'timer'" stepMinute="15" hour12Timer="true" [startAt]="intervals.start"></owl-date-time>
                        </label>
                    </div>
                    <div id="end-time">
                        <p>End Time</p>
                        <label>
                                <input [owlDateTimeTrigger]="intervalEndInput" [owlDateTime]="intervalEndInput" [(ngModel)]="intervals.end" (dateTimeChange)="setIntervals('end', '', 'Interval End')">
                                <owl-date-time #intervalEndInput [pickerType]="'timer'" stepMinute="15" hour12Timer="true" [startAt]="intervals.end"></owl-date-time>
                        </label>
                    </div>
                    <p *ngIf="intervalsWarning" class="interval-warn">Error: Start must occur before End</p>
                </div>
                <h3>Dispense Treat Every:</h3>
                <br />
                <div id="dispense-container">
                    <div id="hours">
                        <label>Hours</label> 
                        <select [(ngModel)]="intervals.hours" (change)="setIntervals('hours', intervals.hours, 'Hours')">
                            <option>0</option>
                            <option>1</option>
                            <option>2</option>
                            <option>3</option>
                            <option>4</option>
                            <option>5</option>
                            <option>6</option>
                            <option>7</option>
                            <option>8</option>
                            <option>9</option>
                            <option>10</option>
                            <option>11</option>
                            <option>12</option>
                        </select>
                    </div>
                    <div id="minutes">
                        <label>Minutes</label>
                        <select [(ngModel)]="intervals.minutes" (change)="setIntervals('minutes', intervals.minutes, 'Minutes')">
                            <option>0</option>
                            <option>5</option>
                            <option>15</option>
                            <option>30</option>
                            <option>45</option>
                        </select>
                    </div>
                </div>
                <div class="interval-warn" *ngIf="intervalsTimeWarning">Hours and Minutes can't both be 0!</div>
                <div id="immediate-toggle">
                    <label class="switch small"><input type="checkbox" [checked]="intervals.immediate" (change)="intervals.immediate = !intervals.immediate" (click)="setIntervals('immediate', '', 'Immediate ')"><span class="slider small"></span></label>
                    <p>Dispense immediately upon settings change<span *ngIf="intervals.SEon"><br />(if within time window)</span></p>
                </div>
            </div>
        </div>
    </div>
    <app-schedule class="stagger-from-bottom"></app-schedule>
</div>



